/* Comments Table Styles */
.table-container {
  margin-top: 20px;
}

.comments-table {
  width: 50%;
  border-collapse: collapse;
  margin-left: 147px;
}

.comments-table th,
.comments-table td {
  border: 1px solid #ddd;
  padding: 6px; /* Smaller padding */
  font-size: 14px; /* Smaller font size */
  text-align: left;
}

.comments-table th {
  background-color: #f2f2f2;
}

.comments-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.comments-table tbody tr:hover {
  background-color: #ddd;
}